page{
    background: #eee;
}
.custom-detail-page{
    font-size: 28rpx;
    .block{
        background: #fff;
        margin-bottom: 20rpx;
        .line{
            display: flex;
            padding: 30rpx 38rpx;
            border-top: 1px solid #eee;
            .label{
                color: #999;
                margin-right: 20rpx;
                flex-shrink: 0;
            }
            .cont{
                color: #101010;
            }
        }
        .title{
            justify-content: space-between;
            border-bottom:1px solid #eee;
            color: #101010;
        }
        .drop-down{
            padding-left: 50rpx;
            .line:first-child{
                border: none;
            }
            .line{
                padding: 30rpx 0;
            }
        }
    }
    .group{
        background: #fff;
        padding: 16rpx 0;
        margin-bottom: 20rpx;
        .title{
            margin-bottom: 20rpx;
        }
        .item{
            display: flex;
            padding: 10rpx 38rpx;
            justify-content: space-between;
            align-items: center;
            .label{
                color: #333;
                margin-right: 20rpx;
                flex-shrink: 0;
            }
            .cont{
                display: flex;
                color: #999;
                align-items: center;
            }
            van-icon{
                margin-left: 12rpx;
            }
        }
    }
}