.detail-page{
    font-size: 28rpx;
    color: #101010;
    .header{
        text-align: center;
        background: #fff;
        padding: 60rpx 0 48rpx;
        .avatar{
            width: 200rpx;
            height: 200rpx;
            border-radius: 50%;
            margin-bottom:20rpx;
        }
    }
    .group{
        margin-bottom: 30rpx;
        .title{
            font-size: 36rpx;
            margin-bottom: 30rpx;
            padding: 0 30rpx;
        }
        .field{
            display: flex;
            align-items: center;
            padding: 18rpx 0;
            &.field-start{
                align-items: flex-start;
            }
            .label{
                padding-left: 20rpx;
                width: 186rpx;
                text-align: right;
                flex-shrink: 0;
                .red{
                    margin-right: 6rpx;
                }
            }
            .cont{
                margin: 0 30rpx;
                flex-grow: 1;
                border: 1px solid #eee;
                padding: 10rpx 16rpx;
                border-radius: 8rpx;
                .tips{
                    margin-bottom: 18rpx;
                }
                input{
                    width: 100%;
                }
                van-radio-group{
                    display: flex;
                }
                .van-radio{
                    margin-right: 50rpx;
                }
                .van-radio__label{
                    margin-left: 10rpx;
                }
                .picker{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
                textarea{
                    width:100%;
                }
                .placeholder{
                    color: #787878;
                }
            }
        }
    }
    .btn-group{
        display: flex;
        flex-direction: column;
        justify-content: center;
        .submit{
            display: flex;
            width: 540rpx;
            height: 80rpx;
            align-items: center;
            justify-content: center;
            color: #fff;
            background-color: #C9B582;
            box-sizing: border-box;
            border-color: #C9B582;
            border-radius: 80rpx;
            margin: 56rpx auto 30rpx;
        }
    }
}