page{
    background: #eee;
}
.comment-page {
    font-size: 28rpx;
    color: #101010;
    .tab-pane{
        display: flex;
        height: 100rpx;
        justify-content: space-around;
        background:#fff;
        width: 100%;
        &.fixed-pane{
            position:fixed;
            top: 0;
            left: 0;
            z-index: 99;
        }
        .item{
            display: flex;
            height: 100rpx;
            align-items: center;
            padding: 0 24rpx;
            border-bottom: 6rpx solid #fff;
            &.cur{
                color: #C9B582;
                border-color: #C9B582;
            }
        }
    }
    .scroll-view{
        height: calc(100vh - 100rpx);
    }
    .commentList {
        .comment-item {
            border-bottom:2rpx solid #f5f5f5;
            background: #fff;
            margin-top: 20rpx;
            overflow: hidden;
            padding-top: 20rpx;
        }
        .comment-status{
            .tag{
                display: inline-block;
                height: 40rpx;
                line-height: 40rpx;
                border-top-right-radius: 20rpx;
                border-bottom-right-radius: 20rpx;
                background: #C9B582;
                font-size: 24rpx;
                padding: 0 28rpx 0 20rpx;
                color: #fff;
                margin-bottom: 18rpx;
            }
        }
        .comment-body{
            padding: 0 20rpx;
            line-height:40rpx;
            .comment-title {
                display: flex;
                align-items: center;
                color: rgba(#333, .6);
                justify-content: space-between;
                .reply{
                    display:flex;
                    align-items: center;
                }
                .like-btn{
                    display: flex;
                    align-items: center;
                }
            }
            .comment-content{
                color: #101010;
                .reply-item{
                    background: #F4F9FF;
                    color: #101010;
                    border-radius: 6rpx;
                    padding: 20rpx;
                    margin-top: 20rpx;
                    .top{
                        display: flex;
                        align-items: center;
                        margin-bottom: 10rpx;
                        color: rgba(51,51,51,0.6);
                        .tag{
                            display: flex;
                            width: 80rpx;
                            height: 36rpx;
                            align-items: center;
                            justify-content: center;
                            background: #c9b582;
                            border-radius: 30rpx;
                            font-size: 24rpx;
                            color: #fff;
                            margin-right: 16rpx;
                        }
                        .name{
                            margin-right: 16rpx;
                        }
                    }
                    .reply-time{
                        color: #999;
                    }
                }
            }
        }
        .works-name{
            background: rgba(175,176,180,0.1);
            color: #999;
            padding: 16rpx 20rpx;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            margin-top: 20rpx;
        }

    }
}
.comment-form{
    text-align: left;
    padding: 10rpx 0;
    .nick{
        margin-left: 10rpx;
    }
    textarea{
        width: 100%;
        margin: 20rpx 0;
        padding: 10rpx;
        border: 1px solid #d9d9d9;
    }
    .tips{
        color: rgba(217,0,27,0.6);
    }
}
.loadStatus .noMore{
    text-align:center;
    line-height: 80rpx;
    color: #a2a2a2;
}
.no-res{
    text-align: center;
    padding: 30rpx 0;
    image{
        width: 336rpx;
        height: 349rpx;
    }
}