@import '../../../common/styles/index.scss';
.container{
  background:#f5f5f5;
  .search-bar{
    background:white;
    padding:14rpx 0;
    .search-bar-left{
      background:#f7f7f7;
      display: inline-block;
      width:620rpx;
      margin-left:26rpx;
      .icon{
        display: inline-block;
        margin-right:20rpx;
        vertical-align: middle;
        margin-top:5rpx;
        font-size:20rpx;
        margin-left:14rpx;
      }
      input{
        vertical-align: middle;
        display: inline-block;
        height:60rpx;
        font-size:26rpx;
        width:485rpx;
      }
    }
    .search-bar-right{
      display: inline-block;
      vertical-align: top;
      height:60rpx;
      line-height:60rpx;
      font-size:28rpx;
      margin-left:18rpx;
    }
  }
  .filter{
    border-bottom:4rpx solid #f7f7f7;
    margin-top:4rpx;
    background:white;
    display:flex;
    .selected{
      color: $mainColor;
    }
    .filter-order{
      width:49%;
      text-align:center;
      line-height:76rpx;
      height:76rpx;
      .filter-order-icon{
        margin-left:20rpx;
        height:10rpx;
        width:20rpx;
      }
    }
    .filter-isolate-line{
      height:50rpx;
      width:3rpx;
      margin-top:13rpx;
      background:#f5f5f5;
    }
    .filter-params{
      width:49%;
      text-align:center;
      line-height:76rpx;
      height:76rpx;
      .filter-params-icon{
        margin-left:20rpx;
        height:30rpx;
        width:35rpx;
      }
    }
  }
  .filter-order-select-background{
    background:rgba(0,0,0,.3);
    height:100%;
    position:fixed;
    z-index:999;
    .filter-order-select{
      margin-top:1rpx;
      .filter-order-select-option{
        overflow:hidden;
        width:750rpx;
        height:100rpx;
        padding:0 30rpx;
        background:white;
        border-bottom:2rpx solid #aaaaaa;
        line-height:100rpx;
        color:#101010;
        .filter-order-text{
          display: inline-block;
          height:98rpx;
          line-height:98rpx;
          width:550rpx;
        }
        .selected-green-icon{
          display: inline-block;
          float:right;
          margin-top:39rpx;
          width:30rpx;
          height:25rpx;
        }
      }
      .picked-order{
        color:$mainColor;
      }
    }
  }
  .filter-order-filter-background{
    background:rgba(0,0,0,.3);
    height:100%;
    width:750rpx;
    top:0;
    position:fixed;
    z-index:999;
    overflow:auto;
    .fliter{
      min-height:100%;
      background:white;
      float:right;
      width:600rpx;
      padding:28rpx 28rpx 0 28rpx;
      .filter-top{
        .filter-top-vertical-line{
          display: inline-block;
          margin-right:18rpx;
          width:4rpx;
          height:32rpx;
          background:#bfbfbf;
        }
        .filter-top-text{
          display: inline-block;
          font-size:32rpx;
          height:32rpx;
          line-height:32rpx;
          color:#acacac;
        }
      }
      .filter-group{
        margin:30rpx 0 54rpx 0;
        .filter-group-name-price{
          font-size:28rpx;
          margin-bottom:22rpx;
        }
        .filter-group-name{
          display: inline-block;
          width:465rpx;
          font-size:28rpx;
          margin-bottom:22rpx;
        }
        .filter-group-operate{
          color:#b3b3b3;
          vertical-align: top;
          display: inline-block;
          .filter-group-icon{
            vertical-align: top;
            margin-top:10rpx;
            margin-left:12rpx;
            width:12rpx;
            height:12rpx;
          }
        }
        .filter-price{
          display:inline-block;
          text-align:center;
          background:#e6e6e6;
          border-radius:8rpx;
          width:228rpx;
          height:56rpx;
        }
        .filter-hyphen{
          display:inline-block;
          vertical-align: top;
          width:40rpx;
          height:2rpx;
          background:#bbbbbb;
          margin:27rpx 18rpx;
        }
        .filter-choose-label{
          display: inline-block;
          width:163rpx;
          height:56rpx;
          text-align:center;
          line-height:56rpx;
          margin-right:18rpx;
          margin-bottom:18rpx;
          background:#fff;
          color:#333;
          border:2rpx solid #c2c2c2;
          border-radius:8rpx;
          overflow: hidden;
          text-overflow:ellipsis;
          white-space: nowrap;
        }
        .label-choosing{
          background:#65C7F7;
          border:0 !important;
          // border:2rpx solid $mainColor;
          color:#fff;
          line-height:54rpx;
        }
      }
      .filter-group-bottom{
        height:86rpx;
      }
      .filter-bottom{
        background:white;
        height:86rpx;
        bottom:0;
        width:600rpx;
        margin-left:-28rpx;
        border-top:2rpx solid #bbbbbb;
        position:fixed;
        .result-count{
          height:86rpx;
          line-height:86rpx;
          display: inline-block;
          width:280rpx;
          text-align:right;
          padding-right:18rpx;
          color:#a2a2a2;
        }
        .reset{
          height:86rpx;
          line-height:86rpx;
          display: inline-block;
          width:160rpx;
          text-align:center;
          border-left:2rpx solid #bbbbbb;
          border-right:2rpx solid #bbbbbb;
          font-size:28rpx;
        }
        .confirm{
          height:86rpx;
          line-height:86rpx;
          display: inline-block;
          width:160rpx;
          text-align:center;
          background:$mainColor;
          color:white;
          font-size:28rpx;
        }
      }
    }
  }
  .ad{
    height:324rpx;
    width:708rpx;
    background:white;
    margin:18rpx 22rpx 0 20rpx;
  }
  .goods-list{
    display: flex;
    flex-wrap: wrap;
    padding: 30rpx;
    goods-item{
      position: relative;
      margin-bottom: 30rpx;
      &:nth-child(2n){
        margin-left: 30rpx;
      }
    }
  }
  .goods-wrap{
    background:white;
    margin:24rpx 0 0 20rpx;
    width:344rpx;
    height:510rpx;
    display: inline-block;
    .goods-image{
      background-size: 100% 100%;
      background-repeat: no-repeat;
      height:344rpx;
      width:344rpx;
    }
    .goods-detail{
      .goods-is-activity{
        text-align:center;
        line-height:48rpx;
        width:100rpx;
        height:48rpx;
        background:#e91718;
        color:#ffffff;
      }
      .goods-name{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        margin:22rpx 20rpx;
        width:310rpx;
        height:74rpx;
        font-size:26rpx;
        color:#101010;
        margin-bottom: 10rpx;
      }
      .goods-min-price{
        display: inline-block;
        color:#ce151c;
        font-size:28rpx;
        margin-left:20rpx;
      }
    }
  }
  .bottom-line{
    margin-top:46rpx;
    margin-bottom:50rpx;
    text-align:center;
    color:#a2a2a2;
  }
  .no-result-view{
    margin:80rpx auto 48rpx auto;
    height:250rpx;
    width:250rpx;
  }
  .no-result-desc{
    text-align:center;
    font-size:28rpx;
  }
  .no-result-see-all{
    text-align:center;
    margin-top:52rpx;
    color:$mainColor;
    margin-bottom:52rpx;
  }
  .tool-bar{
      position: absolute;
      top: 34rpx;
      right: 34rpx;
      .icon-box{
          display: flex;
          width: 60rpx;
          height: 38rpx;
          align-items: center;
          justify-content: center;
          background: #fff;
          border-radius: 4rpx;
          box-shadow: 0 0 5px rgba(0,0,0, .5);
      }
      .drop-down{
          position: absolute;
          top: 44rpx;
          right: 0;
          width: 160rpx;
          background: #fff;
          box-shadow: 0 0 5px rgba(0,0,0, .5);
          border-radius: 6rpx;
          padding: 12rpx 0;
          .item{
              height: 68rpx;
              line-height: 68rpx;
              text-align: center;
          }
      }
  }
  .tag{
      position: absolute;
      top: 10rpx;
      left: 0;
      min-width: 136rpx;
      height: 46rpx;
      padding: 0 30rpx 0 12rpx;
      color: #fff;
      border-top-right-radius: 46rpx;
      border-bottom-right-radius: 46rpx;
      background: rgba(#333, .6);
      text-align: right;
      line-height: 46rpx;
      &.disable{
        background: rgba(#aaa, .6);
      }
      &.success{
        background: #70B603;
      }
  }
  .fixed-btn{
    position: fixed;
    bottom: 86rpx;
    right: 10rpx;
    z-index: 99;
  }
}
