@import '../../../common/styles/index.scss';
page {
    height: none;
    overflow: none;
    .red{
      color: red!important;
    }
}
.container {
  display: flex;
  height:100vh;
  flex-direction: column;
  background: #f5f5f5;
  padding-bottom: .98rem;
  scroll-view{
    width: 100%;
  }
}
.inner {background:#f5f5f5;}
.container .active-countdown { padding:0 30rpx; height: 80rpx; display: flex; align-items: center; justify-content: space-between;
    background: #ce151c; font-size: 20rpx; color: #fff; }
.active-countdown .title { font-size: 28rpx;font-weight: bold; }
.active-countdown .remain {font-size: 24rpx;}
.active-countdown text { display: inline-flex;margin:0 4rpx; padding:0 9rpx; line-height: 38rpx; background: #fff; color: #000; font-size: 24rpx;}

.container .product-detail-cont { position:relative; padding: 22rpx 30rpx 32rpx; background: #fff; }
.product-detail-cont .product-name { width: 600rpx; font-size: 30rpx; line-height: 46rpx; color: #333; font-weight: bold;height: 46rpx;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; }
.product-detail-cont .product-desc { font-size: 22rpx;min-height:46rpx; line-height: 46rpx; color: $mainColor; }
.product-detail-cont .product-item { margin-top:20rpx; height: 46rpx; display: flex; align-items: center; }
.product-detail-cont .product-item .price {  margin-left: 6rpx; }
.product-detail-cont .product-item .sales {  flex:1;text-align:right;color:#8c8c8c;font-size:24rpx }
.product-detail-cont .product-price { display: flex; height: 46rpx; align-items: center; font-size: 30rpx; color: #e7241f;font-weight: bold; }
// .product-detail-cont .product-price img { width: 124rpx; margin-left: 36rpx; height: auto; }
.product-detail-cont .origin-price { color: #828282; font-size: 24rpx; text-decoration: line-through;margin-left:6rpx;}
.product-detail-cont .collection-cont { position: absolute; top:35rpx; right: 30rpx; }
.product-detail-cont .collection-cont .collection_icon { display: block; width: 42rpx; height: 34rpx; margin:0 auto; background-size: 42rpx 68rpx;  }
.product-detail-cont .collection-cont .collection_icon.is-collection { background-position: 0 -34rpx; text-decoration: line-through;}
.product-detail-cont .collection-cont .text {font-size: 22rpx; line-height: 22rpx; color:#828282; text-align: center; }
.tag-list{
  display: flex;
  overflow: hidden;
  width: 600rpx;
  margin-top: 16rpx;
  .tag{
    flex-shrink: 0;
    height: 40rpx;
    line-height: 40rpx;
    color: #9f9f9f;
    background: #eee;
    padding: 0 14rpx;
    border-radius: 20rpx;
    font-size: 24rpx;
    margin-right: 16rpx;
  }
}
.container .server-option { background-color: #fff;padding:0 30rpx; display: flex; align-items: center; height: 90rpx; border-top: 2rpx solid #eee; line-height: 88rpx;  }
.server-option view { display: flex;align-items: center;margin-right: 18rpx; }
.server-option view image {width: 20rpx;height: 20rpx;}
.server-option view text {margin-left: 8rpx;color: #555;font-size: 24rpx;margin-left: 8rpx;}
.container .package-cont { background: #f5f5f5; border-top: 20rpx solid #eee;  }
.package-cont .package-tab { display: flex; background: #fff; height: 80rpx; }
.package-cont .package-tab view { font-size: 24rpx; display: block; width: 200rpx; text-align: center; height: 80rpx; line-height:80rpx; border-bottom:1px solid #fff; }
.package-cont .package-tab view.active { border-bottom-color: #2e6f55; color:#2e6f55; }
.package-cont .package-list { height: 300rpx; padding: 26rpx 26rpx 10rpx; font-size: 0; white-space: nowrap; overflow-x: auto; }
.package-cont .package-list::-webkit-scrollbar { width: 0; height: 0; display: none; }
.package-cont .package-li { display: inline-block; padding: 30rpx; width: 560rpx; height: 240rpx; margin-right: 26rpx;
    background: #fff; border-radius: 20rpx; overflow: hidden; }
.package-cont .package-li:last-child { margin-right: 0; }
.package-cont .package-li image { width: 180rpx; height: 180rpx; }
.package-cont .package-li .package-msg { float: right; height: 100%; width: 290rpx; }
.package-cont .package-li .package-name { color:#3b3b3b; font-size: 26rpx; height: 68rpx; line-height: 34rpx; overflow:hidden;
    text-overflow:ellipsis;  display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical; white-space:pre-wrap; }
.package-cont .package-li .package-sku { font-size: 24rpx; margin-top:10rpx; }
.package-cont .package-li .package-bottom { margin-top: 30rpx; height: 40rpx; display: flex; align-items: flex-end; justify-content: space-between; color: #000;}
.package-cont .package-li .package-price { font-size: 24rpx; line-height: 28rpx; color: #a94646; }
.package-cont .package-li .package-price text {  font-size: 28rpx;}

.container .select-cont { margin-top:20rpx; font-size: 26rpx; color: #333;overflow: auto; }
.select-cont .select-btn {
  display: flex; justify-content: space-between;
  align-items: center;padding:0 30rpx 0 30rpx; height:102rpx; border-bottom:1rpx solid #f5f5f5;
    overflow: hidden; background-color: #fff; }
.select-cont .select-btn .title-name { display: inline-block; width: 130rpx; }
.select-cont .select-btn .full-discount-text { color: #da4449; }
.select-cont .coupon-label { display: inline-block; margin-right:20rpx; padding:0 14rpx; line-height: 40rpx; color: #fff; background: $mainColor; flex-shrink: 0;  }
.select-cont .coupon-label:last-child { margin-right: 0; }
.select-cont .active-label { margin-right: 10rpx; padding:0 20rpx; line-height:40rpx; font-size: 22rpx; color: $mainColor; border: 2rpx solid $mainColor; }
.select-cont .active-tip { color: #828282; }
.select-cont .full-gift-btn { padding: 48rpx 40rpx 0 30rpx; display: flex; align-items: center; background: #fff; font-size: 26rpx; }
.select-cont .full-gift-btn text  { display: inline-block; width: 130rpx; flex-shrink: 0; align-self:flex-start; }
.select-cont .full-gift-btn .full-gift-list { flex-grow: 1; }
.select-cont .full-gift-btn .full-gift-item { margin-bottom: 24rpx; padding-bottom: 34rpx; border-bottom:1px dashed #ccc;  }
.select-cont .full-gift-btn .full-gift-item:last-child { margin-bottom:0; border-bottom:none; }
.select-cont .full-gift-btn .full-gift-title { color: #d84449; }
.select-cont .full-gift-btn .full-gift-product { margin-top: 34rpx; display: flex; }
.select-cont .full-gift-btn .full-gift-product image { flex: 0 0 100rpx;width: 100rpx; height: 100rpx; margin-right:26rpx; }
.select-cont .full-gift-btn .full-gift-product-name { height: 60rpx; line-height: 30rpx; font-size: 24rpx; color: #6c6b6b; }
.select-cont .full-gift-btn .full-gift-product-price { margin-top: 16rpx; line-height: 24rpx; font-size: 24rpx; color: #6c6b6b; }
.select-cont{
  .detail{
      background: #fff;
      padding-top: 30rpx;
      overflow: hidden;
      .item{
        display: flex;
        margin-bottom: 30rpx;
        align-items: flex-start;
        line-height: 1.4;
        .label{
          width: 150rpx;
          text-align: right;
          color: #b8b8b8;
        }
        .cont{
          display: flex;
          flex-wrap: wrap;
          padding: 0 20rpx;
          width: calc(100% - 200rpx);
          line-height: 1.4;
          .tag{
            flex-shrink: 0;
            margin: 0 16rpx 16rpx 0;
          }
        }
      }
  }
}

.container .recommend-product-cont { padding:0 30rpx; background: #fff; overflow: hidden; }
.recommend-product-cont .title { line-height: 100rpx; font-size: 28rpx; font-weight: bold; }
.recommend-product-cont swiper { height: 350rpx;display: flex; justify-content: space-between; }
.recommend-product-cont swiper swiper-item {display: flex; justify-content: space-between;}
.recommend-product-cont swiper .product-item { display: inline-block; width: 210rpx;  font-size: 22rpx; }
.recommend-product-cont swiper .product-item image { width: 100%; height: 210rpx; border:1px solid #eee; }
.recommend-product-cont swiper .product-item .name { line-height: 50rpx; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.recommend-product-cont swiper .product-item .price { color: #dd2727; }

.container .tab-container { margin-top: 20rpx; overflow: auto; background: #fff;}
.container .tab-container image { width: 100%; height: auto; vertical-align: middle; }
.tab-container .tab-option { display: flex; height: 100rpx; font-size: 26rpx; color:#333; }
.tab-container .tab-option view { display: flex; align-items: center; justify-content: center; width: 150rpx; border-bottom:6rpx solid #fff; }
.tab-container .tab-option view.active { color:$mainColor; border-bottom-color: $mainColor; }
.tab-container .parameter-container { padding:0 20rpx 20rpx; }
.tab-container .parameter-container .table { 
    border: 2rpx solid rgb(128, 128, 128);
    width: 100%; font-size: 24rpx;  
}
.tab-container .parameter-container .table .tr {
    display: flex;
    &:last-child {
        border: none;
    }
}
.tab-container .parameter-container .table .td { padding: 10rpx; flex: 1;border:2rpx solid gray;}
.tab-container .parameter-container .table .td:first-child { padding: 10rpx; flex: 0 0 250rpx; display: inline-flex;}
.tab-container .details-container image {width:100%}
.tab-container .details-container .brand-cont { padding: 40rpx 0 30rpx; text-align: center; }
.container .tab-container .details-container .brand-cont image { width: 120rpx; height: 120rpx; margin-bottom:24rpx;  }
.tab-container .details-container .brand-cont-btn view { display: inline-block; width: 200rpx; height: 60rpx; line-height: calc(60rpx - 2px);
    border: 1px solid #9d9d9d; font-size: 24rpx;  }
.tab-container .details-container .brand-cont-btn view:first-child { margin-right: 60rpx; }
// .tab-container .parameter-container { display: none; }
// .tab-container .evaluate-container { display: none; }

.container .fixed-bottom { position: fixed; margin:auto; left: 0; right: 0; bottom: 0;  min-width: 320px; max-width: 750px; height: .9rem;
    display: flex; align-items: center; justify-content: flex-end; z-index: 999; background: #fff; }
.container .fixed-bottom .icon-cont { display: block; width: 1.4rem; font-size: .22rem; color: #828282; text-align: center; }
.container .fixed-bottom .icon-cont div { margin:0 auto; width: .48rem; height: .46rem; }
.container .fixed-bottom .icon-cont .customer-server { background: url("/static/images/product/customer-server.png") no-repeat center 0; background-size:.40rem .39rem; }
.container .fixed-bottom .icon-cont .cart { background: url("/static/images/product/cart.png") no-repeat; background-size:.48rem .46rem; }

// .pop-other-server { display: none; }
// .coupon-pop .server-title { height: 54rpx; text-align: center; font-size: 26rpx; color: #363636; }
// .coupon-pop .server-ul { padding:0 30rpx; font-size: 16rpx; line-height: 30rpx; }
// .coupon-pop .server-ul li { margin-top:.24rem;  }
// .coupon-pop .server-ul li p{ display: block; margin-top: .1rem; }
// .coupon-pop .measure-detail { display: none; padding:.3rem 0;  }
// .coupon-pop .measure-detail img { width:100%; height: auto; }
// .coupon-pop .pop-content-middle .pop-sku-btn-cont .disable { color:#ddd;border: dashed 1px #ddd;cursor: not-allowed; }
// .pop-package-cont { display: none; }
/*评论*/
.comments{width: 100%; border-bottom: 2rpx solid #EEE;background: #FFF;border-top: 2rpx solid #EEE;padding:20rpx 40rpx;}
.comments text{display:inline-block;padding:10rpx 24rpx;margin-right:24rpx;border-radius:100rpx;text-align: center;margin-top: 4rpx;margin-bottom:10rpx;font-size: 28rpx;color:#333;background:#eee;}
// .comments text .red{ color:#dd2727;font-weight: bold;}
// .comments text .black3{ color:#333333;}
.comments text.on{color:#fff;background:#333;}
.loadStatus .noMore{text-align:center;line-height:80rpx}
// .commentList{border-top:solid 2rpx #ddd;margin-bottom: 40rpx;min-height: 100rpx;}
// .commentList .item{display:inline-block;width:100%;border-bottom: solid 1px #ddd;padding:5% 30px;background: #fff;}
// .commentList .name{color:#555;}
.commentList {
    .comment-item {
        border-bottom:2rpx solid #f5f5f5;
        padding:40rpx;
        line-height:40rpx;
    }
    .comment-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .like-btn{
          display: flex;
          align-items: center;
        }
    }
    .comment-pics {
        display: flex;
        xcx-image {
            margin-right:20rpx
        }
    }
}
/*优惠券*/
.pop-coupon-cont { display: none; }


.right-arrow {
    //background-repeat: no-repeat;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 712rpx center;
    background-size: 17rpx 31rpx;
}

.popups {background: #fff;}
.popups .server-title { height: 54rpx; text-align: center; font-size: 26rpx; color: #363636; }
.service-pop {
    width: 100%;
    height: 800rpx;
    padding: 30rpx 30rpx 0;
    background: #fff;
    border-radius: 20rpx 20rpx 0 0;
}

.service-pop .pop-close-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 28rpx;
    height: 28rpx;
    background-size: 100%;
}
.service-pop .pop-content-top {position: relative;border-bottom: 2rpx solid #eee;}
.service-pop .server-ul { padding:0 30rpx; font-size: 24rpx; line-height: 30rpx; }
.service-pop .server-li { margin-top:24rpx; }
.service-pop .server-li .title{ display: block; font-weight: bold; }
.service-pop .server-li .desc{ display: block; margin-top: 10rpx; }
.service-pop .measure-detail { display: none; padding:30rpx 0;  }
.service-pop .measure-detail img { width:100%; height: auto; }
.service-pop .pop-content-middle .pop-sku-btn-cont .disable { color:#ddd;border: dashed 1rpx #ddd;cursor: not-allowed; }


.pop-sku-cont { display: none; }
.popups {
    position: relative;
    padding: 32rpx 32rpx 0;
    z-index: 100;
}
.popups .pop-content { position: absolute; left:0; bottom: 0; width: 100%; height: 800rpx; padding: 30rpx 30rpx 0;
    background: #fff; border-radius: 20rpx 20rpx 0 0; }

.popups .pop-content-top { position:relative; border-bottom: 2rpx solid #eee;  }
.popups .pop-close-btn { position:absolute; right: 0; top: 0; width: 28rpx; height: 28rpx; background-size:100%;  }
.popups .pop-product-info {
    display: flex; margin-bottom: 30rpx; height: 140rpx; 
}
.popups .pop-product-info image { width: 140rpx; height: 140rpx; margin-right: 30rpx; }
.popups .pop-product-info .wrap { width: 440rpx; height: 140rpx; display: flex; flex-direction: column; flex-wrap: wrap; justify-content: space-between; }
.popups .pop-product-info .wrap p { width: 100%; }
.popups .pop-product-name { font-size: 26rpx; line-height: 40rpx; color: #333; }
.popups .pop-product-price { font-size: 30rpx; color: #e72420;  }
.popups .pop-product-price .discount { font-size: 30rpx; color: #e72420; margin:0 10rpx 0 4rpx; }
.popups .pop-product-price .origin { font-size: 16rpx; color: #828282; text-decoration: line-through;}

.popups .pop-content-middle { height: 510rpx; /*商品弹窗是减去头部底部*/ overflow-y: auto; padding-bottom: 20rpx; }
.popups .pop-tip { font-size: 26rpx; line-height: 88rpx; }
.popups .pop-sku-item { border-bottom: 2rpx solid #eee; padding-bottom: 30rpx; font-size: 22rpx; color: #333; }
.popups .pop-sku-item .pop-sku-btn-cont { display: flex; flex-wrap: wrap; }
.popups .pop-sku-item .pop-sku-btn { height: 60rpx; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-right: 20rpx;
    padding: 0 20rpx;
    border: 2rpx solid #c2c2c2; 
    border-radius: 8rpx;  
    text-align: center;
}
.popups .pop-sku-item .active {
    border-color: #e72420; color: #e72420;
}
.popups .pop-sku-item .negative {
    color: #ddd;
    border: dashed 1rpx #ddd;
    cursor: not-allowed;
    pointer-events:none;
}
.popups .pop-count-item {
    display: flex; 
    border-bottom: 2rpx solid #eee; 
    align-items: center; 
    justify-content: space-between;
}
.popups .pop-number-box { display: flex; align-items: center; }
.popups .pop-number-box text { margin-right: 20rpx; font-size: 24rpx; color: #828282; }
.popups .pop-number-btn {
    width: 172rpx;
    height: 48rpx;
    border: 2rpx solid #c2c2c2;
    display: flex; 
    border-radius: 8rpx;
    overflow: hidden; 
}
.popups .pop-number-btn button {
    width: 44rpx; 
    font-size: 40rpx; 
    border: none;
    background: #fff;
    line-height: 44rpx;  
    padding: 0 !important;
}
.popups .pop-number-box .num-input { width: 80rpx; text-align: center;  border:none; height: 48rpx; border-radius: 0;
    border-left: 2rpx solid #c2c2c2; border-right: 2rpx solid #c2c2c2; font-size: 22rpx; user-select:none;}
.popups .pop-content-bottom .wrapper {
    position: absolute; bottom:0; left: 0; width: 100%; height: 88rpx; display: flex; 
}
.popups .pop-content-bottom { 
   height: 88rpx;
}
.popups .pop-content-bottom .pop-btn {width: 100%; border: 2rpx solid #e7241f; font-size: 30rpx; display: flex; justify-content: center; align-items: center; }
.popups .pop-content-bottom .pop-add-cart { background: #fff; color: #e7241f; }
.popups .pop-content-bottom .pop-buy-now,#pop-container .pop-content-bottom .pop-confirm { background: #e7241f; color: #fff; }
.pop-content-bottom .pop-confirm {
    background: #e7241f;
    color: #fff;
}
.coupon-pop {height: 800rpx;}
.coupon-pop .coupon-tip { height: 66rpx; line-height: 66rpx; font-size: 28rpx; color: #343434; }
.coupon-pop .coupon-list { padding: 28rpx 28rpx 28rpx; height: 645rpx; background: #eee; box-sizing: border-box;}
.coupon-pop .coupon-li { position: relative; margin-bottom:24rpx; height: 180rpx; padding: 32rpx 25rpx 0 40rpx; border-radius: 10rpx;background-repeat: no-repeat;background-color: #fff; background-size: 16rpx 180rpx;  }
.coupon-pop .coupon-li:last-child { margin-bottom:0; }
.coupon-pop .coupon-li .coupon-left { display: flex; width: 380rpx; height: 74rpx; align-items: center;  }
.coupon-pop .coupon-li image { margin-right: 15rpx; width: 72rpx;min-width: 72rpx; min-height: 72rpx; border-radius: 50%; border: 1px solid #ccc; }
.coupon-pop .coupon-li .coupon-info { height:100%; display: flex; flex-wrap: wrap; align-content: space-between; }
.coupon-pop .coupon-li .coupon-info view { width: 320rpx; }
.coupon-pop .coupon-li .time { display: block; margin-top: 16rpx; font-size: 22rpx; }
.coupon-pop .coupon-li .coupon-price { color: #389463; }
.coupon-pop .coupon-li .coupon-price .price { font-size: 44rpx;  }
.coupon-pop .coupon-li .coupon-price .suffix { font-size: 22rpx; font-style: normal;  }
.coupon-pop .coupon-li .coupon-price .hint { margin-left: 12rpx; font-size: 22rpx; color: #676767; }
.coupon-pop .coupon-li .coupon-name { width:320rpx;font-size: 26rpx; line-height: 26rpx; color: #333; }
.coupon-pop .coupon-li .canvas-right { position: absolute; right: 26rpx; top:16rpx; text-align: center; }
.coupon-pop .coupon-li .canvas-right button { display: block; width: 120rpx; height: 40rpx; line-height: 40rpx;border-radius: 30rpx;
    background: #57ac7f; color:#fff; border: none; font-size: 20rpx; }
.coupon-pop .coupon-li .canvas-right .canvas-text{ position: absolute; margin: auto; width: 100rpx; height: 100rpx; padding-top:24rpx;
    top:0; right: 0; left: 0; text-align: center; font-size: 22rpx; line-height: 26rpx; color: #58ad80; }

.actionBar {
    display: flex;
    flex-shrink: 0;
    height: 100rpx;
    width: 100%;
    &::after {
      content: " ";
      display: block;
      height: 90rpx;
      padding-top: var(--safe-area-inset-bottom);
    }
    .actionBar-container {
      width: 100%;
      .actionBar-wrap {
        height: 100rpx;
        background-color: #FFF;
        display: flex;
        text-align: center;
        padding-bottom: var(--safe-area-inset-bottom);
        box-sizing: content-box;
        border-top: 1px solid #eee;
        .custom-service {
          width: 240rpx;
          height: 100%;
          font-size:32rpx;
          color:#666;
          line-height: normal;
          image {
            display: block;
            width: 44rpx;
            height: 40rpx;
            margin: 14rpx auto 0;
          }
        }
        .input-view{
          display:flex;
          flex-grow: 1;
          height: 80rpx;
          overflow: hidden;
          padding-left: 16rpx;
          margin-right: 16rpx;
          border-radius: 40rpx;
          background: #eee;
          input{
            flex-grow: 1;
            height: 80rpx;
            text-align:left;
            padding: 0 16rpx;
            font-size: 28rpx;
          }
          .submit-btn{
            display:flex;
            height: 79rpx;
            width: 154rpx;
            border-radius: 40rpx;
            align-items:center;
            justify-content:center;
            color: #fff;
            background:#333;
          }

        }
        .icon {display: block;width: 120rpx;font-size: 22rpx;color: #828282;text-align: center;
            image {
                width: 40rpx;
                height: 39rpx;
            }
        }
        .fixed-bottom-btn { width: 220rpx; height:90rpx; display: flex; align-items: center; justify-content: center;
            border: 4rpx solid $mainColor; font-size: 30rpx; }
      }
    }
  }
.comment-content{
  .reply-item{
      background: #f2f2f2;
      color: #666;
      border-radius: 6rpx;
      padding: 20rpx;
      margin-top: 20rpx;
      .top{
          display: flex;
          align-items: center;
          margin-bottom: 10rpx;
          .tag{
              display: flex;
              width: 80rpx;
              height: 36rpx;
              align-items: center;
              justify-content: center;
              background: #c9b582;
              border-radius: 30rpx;
              font-size: 24rpx;
              color: #fff;
              margin-right: 16rpx;
          }
          .name{
              color: #101010;
              margin-right: 16rpx;
          }
      }
  }
}
